//вьюпорты
@import "../variables.scss";

.stats {
    background-color: #353535;

    @media (min-width: $tablet-width) {
        margin-top: -179px;
    }

    @media (min-width: $desktop-width) {
        margin-top: -161px;
    }
}

.stats__wrapper {
    @media (min-width: $tablet-width) {
        padding: 0 64px;
    }

    @media (min-width: $desktop-width) {
        margin: auto;
        max-width: 960px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.stats__card {
    background-color: #ffffff;
    padding: 28px 20px;

    @media (min-width: $tablet-width) {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 34px;

        &::before {
            content: "";
            position: absolute;
            left: -23px;
            top: 42px;
            width: 23px;
            height: 23px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpolygon points='0,0 1,0 1,1' fill='white'/%3E%3C/svg%3E");
        }
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
    }
}

.stats__slogan {
    text-align: center;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        margin-top: 25px;
        margin-bottom: 24px;
        text-align: left;
        font-size: 40px;
        line-height: 40px;
        text-transform: none;
    }

    @media (min-width: $desktop-width) {
        margin-top: 32px;
        margin-bottom: 38px;
    }
}

.stats__intro {
    margin: 0;
    margin-top: 13px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

    @media (min-width: $tablet-width) {
        margin-top: 29px;
        text-align: left;
        padding-left: 34px;
    }

    @media (min-width: $desktop-width) {
        padding: 0;
        margin: 0;
        margin-bottom: 34px ;
    }
}

.stats__intro br {
    @media (max-width: $mobile-width-only) {
        display: none;
    }
}


.stats__legend--top {
    margin: 0;
    display: block;
    font-size: 20px;
    line-height: 1;
    font-family: 'PT Sans Narrow', sans-serif;
    opacity: 0.3;
    color: #000;

    @media (max-width: $mobile-width-only) {
        display: none;
    }

    @media (min-width: $tablet-width) {
        display: block;
        margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
        line-height: 26px;
    }
}

.stats__legend--bottom {
    margin: 0;
    margin-top: 20px;
    display: block;
    font-size: 20px;
    line-height: 1;
    font-family: 'PT Sans Narrow', sans-serif;
    opacity: 0.3;
    text-align: center;

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.stats__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #353535;

    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.stats__item {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @media (min-width: $tablet-width) {
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 30px;
        padding-right: 35px;
        padding-left: 34px;
    }
}

.stats__item:nth-child(1),
.stats__item:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.05);
}

.stats__item:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.12);
}

.stats__item:nth-child(3) {
    background-color: #353535;
}

.stats__number {
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: #FFFFFF;

    @media (min-width: $tablet-width) {
        font-size: 72px;
        margin-bottom: 12px;
    }
}

.stats__number  sup {
    position: static;
    margin-left: 5px;
    vertical-align: baseline;
}

.stats__description {
    width: 110px;
    text-align: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

    @media (min-width: $tablet-width) {
        width: auto;
        text-align: left;
        margin: 0;
        font-size: 20px;
        line-height: 20px;
        br {
            display: none;
        }
    }
}
